:root {
    --primary-color: #f0f0f0;
    --primary-bg-color: #111217;
    --secundary-bg-color: #28292E;
    --border-color: #28292E;

    --title-color: #9A9A9C;
    --text-color: #9A9A9C;
    --link-color: #9A9A9C;
    --icon-color: #9A9A9C;
}